<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>311487463391-6fhm6mgh6a41d0u5ghlhqrclnk8rtadv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.311487463391-6fhm6mgh6a41d0u5ghlhqrclnk8rtadv</string>
	<key>API_KEY</key>
	<string>AIzaSyDm_PLm59JENth0WFPeFMfcr10U1tLquKw</string>
	<key>GCM_SENDER_ID</key>
	<string>311487463391</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.classified</string>
	<key>PROJECT_ID</key>
	<string>classified-81a0e</string>
	<key>STORAGE_BUCKET</key>
	<string>classified-81a0e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:311487463391:ios:0d419b81ee7bd49de24e6a</string>
</dict>
</plist>